<div class="login-wrapper">
	<div class="company-logo">
		<h1><a href="">Company Name - Their tagline / marketing copy place here</a></h1>
	</div>
	<div class="greetings">
		<h4>Selamat Datang</h4>
		<p>Silakan login dengan email atau sosial media Anda.</p>
	</div>
	<div class="row">
		<%= form_tag(@url_form, method: "post", 'data-remote': 'true', 'multipart': true, :authenticity_token => true, class: 'login-form') do %>
			<div class="form-group">
				<%= 
					render('partial/json_field_item', {
						'field_name': :email,
						'model_name': 'user',
						'type': 'text',
					}) 	
				%>
				<label for="username">Email</label>
			</div>
			<div class="form-group">
				<%= 
					render('partial/json_field_item', {
						'field_name': :password,
						'model_name': 'user',
						'type': 'password',
					}) 	
				%>
				<label for="username">Password</label>
			</div>
			<%= 
				link_to('Register', register_path, {
					class: 'forgot',
				}) 
			%>
			<button class="btn blue " type="submit">Masuk</button>
			<div class="margin-vert-2 align-center">
				<span class="cgray2"> Atau </span>
			</div>
			<div>
				<a href="<%= user_facebook_omniauth_authorize_path  %>" class="border-full padding-2 facebook disinblock">
					<div class="row">
						<div class="col-xs-12">
							<span class="disblock margin-top-1">Login dengan Facebook</span>
						</div>
					</div>
				</a>
			</div>
		<% end %>
	</div>
</div>