<%
	text_name = params[:text_name].present? ? params[:text_name] : nil
	doctor_name = params[:doctor_name].present? ? params[:doctor_name] : nil
%>
<div class="section">
	<div class="content-block padding-0">
		<%=
			form_tag url_for(controller: 'registrations', action: 'search', 'method': 'false'), class: 'form-target form-table-search', method: "post" do
		%>
		<div class="margin-3">
			<%= 
				render('partial/filter', {
					filter: {
                        filter_2: {
							value: doctor_name,
							placeholder: 'Nama Dokter',
							type: 'text',
							icon: 'search',
							name: 'doctor_name',
						},
						filter_1: {
							value: text_name,
							placeholder: 'Nama Poli',
							type: 'text',
							icon: 'search',
							name: 'text_name',
						},
					}
				}) 
			%>
		</div>
		<div id="admin" class="tab-pane active padding-left-3 padding-right-3 padding-bottom-3" role="tabpanel" aria-labelledby="admin-tab">
			<div class="table-responsive">
                <table class="table">
					<thead>
						<tr class="main-head">
							<th>
								<span>Poli</span>
							</th>
							<th>
								<span>Rumah Sakit</span>
							</th>
							<th>
								<span>Dokter</span>
							</th>
                            <th>
								<span>Hari</span>
							</th>
                            <th>
								<span>Jam Konsultasi</span>
							</th>
                            <th>
								<span>Tutup Pendaftaran</span>
							</th>
                            <th class="align-center">
								<span>Sisa Kuota</span>
							</th>
                            <th>
								<span>Status</span>
							</th>
							<th class="align-center">
								<span>Action</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<% if @examination_schedules.present? %>
							<% @examination_schedules.each do |examination_schedule| %>
                                <%
                                    status = "open"
                                    sColor = 'cgreen'
                                    link = link_to("Daftar Sekarang", add_registrations_path(examination_schedule.id), {
                                        class: "btn btn-bg green"
                                    })
                                    quota = examination_schedule.quota || 0
                                    close_register = examination_schedule.close_register.strftime('%H:%M')
                                    count_exist = examination_schedule.examination_schedule_users.where(registration_date: DateTime.now.strftime('%Y-%m-%d')).count
                                    total = quota - count_exist

                                    if total == 0 || Time.now.strftime('%H:%M') >= close_register
                                        status = 'closed'
                                        sColor = 'cgray2'
                                        link = ""
                                    end
                                %>
								<tr>
                                    <td><%= examination_schedule.hospital_user.poly.title %></td>
                                    <td><%= examination_schedule.hospital.name %></td>
                                    <td><%= examination_schedule.hospital_user.user.full_name %></td>
                                    <td><%= getDayName(examination_schedule.dayname) %></td>
                                    <td><%= "#{examination_schedule.time_start.strftime('%H:%M')} - #{examination_schedule.time_end.strftime('%H:%M')}" %></td>
                                    <td><%= close_register %></td>
                                    <td class="align-center"><%= total %></td>
                                    <td><%= content_tag(:span, status, class: sColor) %></td>
                                    <td class="align-center"><%= link %></td>
                                </tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
				<div class="filter-footer">
					<% unless @examination_schedules.present? %>
						<%= content_tag(:span, 'Data belum tersedia', class: 'alert alert-warning tacenter') %>
					<% end %>
				</div>
            </div>
        </div>
    </div>
    <%= render 'partial/pagination', values: @examination_schedules %>
    <% end %>
</div>