<%
	text_name = params[:text_name].present? ? params[:text_name] : nil
	poly_name = params[:poly_name].present? ? params[:poly_name] : nil
%>
<div class="section">
	<div class="content-block padding-0">
		<div class="margin-3">
			<%= 
				render('partial/filter', {
                    add: {
						url: new_schedules_path,
					},
					filter: {
                        filter_2: {
							value: poly_name,
							placeholder: 'Masukkan nama poli',
							type: 'text',
							icon: 'search',
							name: 'poly_name',
						},
						filter_1: {
							value: text_name,
							placeholder: 'Masukkan nama dokter atau rumah sakit',
							type: 'text',
							icon: 'search',
							name: 'text_name',
						},
					}
				}) 
			%>
		</div>
		<div id="admin" class="tab-pane active padding-left-3 padding-right-3 padding-bottom-3" role="tabpanel" aria-labelledby="admin-tab">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr class="main-head">
							<th>
								<span>Poli</span>
							</th>
                            <th>
								<span>Rumah Sakit</span>
							</th>
                            <th>
								<span>Dokter</span>
							</th>
                            <th>
								<span>Hari & Jam</span>
							</th>
                            <th>
								<span>Kuota</span>
							</th>
                            <th>
								<span>Jam Terakhir Registrasi</span>
							</th>
                            <th>
								<span>Date</span>
							</th>
							<th class="align-center">
								<span>Action</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<% if @examination_schedules.present? %>
							<% @examination_schedules.each do |examination_schedule| %>
								<%
									action_arr = [										
										{
											'text': 'Edit',
											'icon': 'prm-pen',
											'url': edit_schedules_path(examination_schedule.id),
										},
										{
											'text': 'Hapus',
											'icon': 'prm-trash',
											'url': delete_schedules_path(examination_schedule.id),
											'attribute_link': {
												'data-confirm': 'Anda yakin ingin menghapus jadwal dokter ini?',
											}
										},
									]
								%>
								<tr>
									<td><%= examination_schedule.hospital_user.poly.title %></td>
									<td><%= examination_schedule.hospital.name %></td>
									<td><%= examination_schedule.user.full_name %></td>
									<td><%= "#{getDayName(examination_schedule.dayname)}, #{examination_schedule.time_start.strftime("%H:%M")} - #{examination_schedule.time_end.strftime("%H:%M")}"%></td>
									<td><%= examination_schedule.quota %></td>
									<td><%= examination_schedule.close_register.strftime("%H:%M") %></td>
									<td><%= examination_schedule.created_at.strftime('%d %b %Y %H:%M') %></td>
									<td><%= application__call_dropdown_action(action_arr) %></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
				<div class="filter-footer">
					<% unless @examination_schedules.present? %>
						<%= content_tag(:span, 'Data belum tersedia', class: 'alert alert-warning tacenter') %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
		<%= render 'partial/pagination', values: @examination_schedules %>
</div>