<%
	filter = filter.present? ? filter : {}
	add = defined?(add) ? add : false
%>
<div class="row">
	<div class="col-sm-2">
	<% if add.present? %>
		<% add_url = add[:url] || '#' %>
			<% text_url = add[:text] || 'Tambah' %>
			<%= link_to(" #{text_url}", add_url, { class: 'btn btn-bg green' }) %>
	<% end %>
	</div>
	
	<div class="col-sm-10">
		<div class="row">
			<div class="col-sm-3">
				<% if filter[:filter_4].present? %>
					<%= render('partial/filter_item', { filter: filter[:filter_4] }) %>
				<% end %>
			</div>
			<div class="col-sm-3">
				<% if filter[:filter_3].present? %>
					<%= render('partial/filter_item', { filter: filter[:filter_3] }) %>
				<% end %>
			</div>
			<div class="col-sm-3">
				<% if filter[:filter_2].present? %>
					<%= render('partial/filter_item', { filter: filter[:filter_2] }) %>
				<% end %>
			</div>
			<div class="col-sm-3">
				<% if filter[:filter_1].present? %>
					<%= render('partial/filter_item', { filter: filter[:filter_1] }) %>
				<% end %>
			</div>
		</div>
	</div>
</div>