<div class="section-form">
	<%= form_tag(@url_form, method: "post", 'data-remote': 'true', 'multipart': true, :authenticity_token => true) do %>
	<div class="content-section">
		<div class="content-with-annotation">
			<div class="col-lg-3 padding-side-xs-0">
				<div class="padding-vert-lg-4 padding-bottom-sm-4 padding-bottom-xs-4">
					<h6>Informasi Dasar</h6>
					<p class="margin-top-md-1 margin-bottom-sm-0 margin-bottom-xs-0 cgray2">Lengkapi form rumah sakit sesuai data kebutuhan </p>
				</div>
			</div>
            <div class="col-lg-9 padding-side-xs-0">
				<div class="content-block">
					<div class="content-input">
						<label for="" class="content-label">Nama Lengkap dan gelar</label>
						<%= 
							render('partial/json_field_item', {
								'field_name': :full_name,
								'model_name': 'user',
								'type': 'text',
								'object': @user,
								'errors': @user['errors'],
							}) 	
						%>
					</div>
                    <div class="content-input">
						<label for="" class="content-label">Email</label>
						<%= 
							render('partial/json_field_item', {
								'field_name': :email,
								'model_name': 'user',
								'type': 'text',
								'object': @user,
								'errors': @user['errors'],
							}) 	
						%>
					</div>
					<% if @slug != 'edit' %>
						<div class="content-input">
							<label for="" class="content-label">Password</label>
							<%= 
								render('partial/json_field_item', {
									'field_name': :password,
									'model_name': 'user',
									'type': 'password',
									'object': @user,
									'errors': @user['errors'],
								}) 	
							%>
						</div>
					<% end %>
                    <div class="content-input">
						<label for="" class="content-label">Jenis Kelamin</label>
                        <div class="select-group-wrapper">
						<%= 
							render('partial/json_field_item', {
								'field_name': :gender,
								'model_name': 'user',
								'is_select': {
                                    empty: 'Pilih jenis kelamin',
                                    options: [
                                        ['Laki - laki', 'male'],
                                        ['Perempuan', 'female'],
                                    ]
                                },
								'object': @user,
								'errors': @user['errors'],
							}) 	
						%>
                        </div>
					</div>
                    <div class="content-input">
						<label for="" class="content-label">Tanggal Lahir</label>
						<%= 
							render('partial/json_field_item', {
								'field_name': :date_birth,
								'model_name': 'user',
								'type': 'text',
								'object': @user,
								'errors': @user['errors'],
                                'attributes': {
                                    class: 'disblock fullwidth datepicker',
                                }
							}) 	
						%>
					</div>
                    <div class="content-input">
						<label for="" class="content-label">Tempat Lahir</label>
						<%= 
							render('partial/json_field_item', {
								'field_name': :place_birth,
								'model_name': 'user',
								'type': 'text',
								'object': @user,
								'errors': @user['errors'],
							}) 	
						%>
					</div>
                </div>
            </div>
        </div>
    </div>
    <%= render("partial/submit", { url_back: doctors_path }) %>
    <% end %>
</div>