<!DOCTYPE html>
<html lang="en">
<head>
	<%
		title_for_layout = @title_for_layout.present? ? @title_for_layout : "Login"
	%>
	<meta charset="UTF-8">
	<title>SehatQ - <%= title_for_layout %></title>
	<%= stylesheet_link_tag 'application', media: 'all'%>
</head>
<body class="login">
    <%= render 'layouts/alert/notice' %>
	<%= yield %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <%= javascript_include_tag 'affix' %>
    <%= javascript_include_tag 'dropdown' %>
    <%= javascript_include_tag 'tab' %>
    <%= javascript_include_tag 'tooltip' %>
    <%= javascript_include_tag 'simplebar' %>

    <%= javascript_include_tag 'library' %>
    <%= javascript_include_tag 'jquery-ui.min' %>
    <%= javascript_include_tag 'customs' %>
    <%= javascript_include_tag 'functions' %>
</body>
</html>